<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div id="loginBox" class="col-md-4">
            <div class="form">
                <div class="labelledInput">
                    <input [(ngModel)]="username" name="username" class="textInput" placeholder="Enter username..." type="text/css">
                    <input [(ngModel)]="password" name="password" class="textInput" placeholder="Enter password..." type="text/css">
                    <button (click)="login()">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>